.navbarTablet, footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--bgColor);
    position: fixed;
}

.fullDrinks button {
    margin: 0 !important;
}

.navbarTablet {
    top: 0px;
}

footer {
    bottom: 0px;
}

.containerButtonTablet {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.containerButtonTablet a {
    margin: .25rem;
}

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

main section:last-of-type {
    margin-bottom: 70px;
}

.foodCardContainer {
    margin: 0rem 0.5rem 1.5rem 0 !important;
}

.foodCard {
    width: 200px !important;
}

.foodCard .foodCardImg {
    height: 100px !important;
}

button {
    font-size: 0.8rem !important;
}

.buttonDrinks {
    margin: .25rem;
}

.hidden {
    display: none;
}

.ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}